@media screen and (max-width: 762px) {
  .traveler {
    width: 20% !important;
    border: 1px solid black;
  }
  .drop {
    width: 40% !important;
    border: 1px solid black;
    -webkit-appearance: menulist !important;
  }
}
